<h3>Backup Scheduler</h3>
<div class="alert alert-warning header">
    <strong><i class="fas fa-triangle-exclamation"></i> {{ _('If you were using email notifications prior to version 0.3.0 of the plugin you will need to re-enter your account password in settings.') }}</strong>
</div>
