<h3>{{ _('Backup Scheduler') }} <small>{{ _('Version') }}: {{ plugin_backupscheduler_plugin_version }}</small></h3>
<div class="row-fluid">
    <div class="row-fluid"><strong>{{ _('Schedule Backups') }}</strong></div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox"
                    data-bind="checked: settingsViewModel.settings.plugins.backupscheduler.daily.enabled"> {{ _('Daily
                Backup') }}
            </label>
        </div>
    </div>
    <div class="control-group span3"
        data-bind="visible: settingsViewModel.settings.plugins.backupscheduler.daily.enabled(), css: {error: !settingsViewModel.settings.plugins.backupscheduler.daily.time().match(/([01]?[0-9]|2[0-3]):[0-5][0-9]/)}">
        <label class="control-label">{{ _('Time of Day') }}</label>
        <div class="controls">
            <input type="time" class="input-block-level"
                data-bind="textInput: settingsViewModel.settings.plugins.backupscheduler.daily.time"
                title="{{ _('Time of day to create a backup.') }}" placeholder="hh:mm"
                pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]">
        </div>
    </div>
    <div class="control-group span3"
        data-bind="visible: settingsViewModel.settings.plugins.backupscheduler.daily.enabled()">
        <label class="control-label">{{ _('Retain') }}</label>
        <div class="controls">
            <input type="number" class="input-block-level" min="1"
                data-bind="value: settingsViewModel.settings.plugins.backupscheduler.daily.retention"
                title="{{ _('How many daily backups to keep.') }}">
        </div>
    </div>
    <div class="control-group span11"
        data-bind="visible: settingsViewModel.settings.plugins.backupscheduler.daily.enabled()">
        <div class="controls">
            <label class="checkbox inline">
                <input type="checkbox"
                    data-bind="checked: settingsViewModel.settings.plugins.backupscheduler.daily.exclude_uploads"> {{
                _('Exclude uploads.') }}
            </label>
            <label class="checkbox inline">
                <input type="checkbox"
                    data-bind="checked: settingsViewModel.settings.plugins.backupscheduler.daily.exclude_timelapse"> {{
                _('Exclude timelapses.') }}
            </label>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox"
                    data-bind="checked: settingsViewModel.settings.plugins.backupscheduler.weekly.enabled"> {{ _('Weekly
                Backup') }}
            </label>
        </div>
    </div>
    <div class="control-group span3"
        data-bind="visible: settingsViewModel.settings.plugins.backupscheduler.weekly.enabled()">
        <label class="control-label">{{ _('Day of Week') }}</label>
        <div class="controls">
            <select class="input-block-level"
                data-bind="value: settingsViewModel.settings.plugins.backupscheduler.weekly.day"
                title="Day of week to create a backup.">
                <option value="1">{{ _('Monday') }}</option>
                <option value="2">{{ _('Tuesday') }}</option>
                <option value="3">{{ _('Wednesday') }}</option>
                <option value="4">{{ _('Thursday') }}</option>
                <option value="5">{{ _('Friday') }}</option>
                <option value="6">{{ _('Saturday') }}</option>
                <option value="7">{{ _('Sunday') }}</option>
            </select>
        </div>
    </div>
    <div class="control-group span3"
        data-bind="visible: settingsViewModel.settings.plugins.backupscheduler.weekly.enabled(), css: {error: !settingsViewModel.settings.plugins.backupscheduler.weekly.time().match(/([01]?[0-9]|2[0-3]):[0-5][0-9]/)}">
        <label class="control-label">{{ _('Time of Day') }}</label>
        <div class="controls">
            <input type="time" class="input-block-level"
                data-bind="textInput: settingsViewModel.settings.plugins.backupscheduler.weekly.time"
                title="Time of day to create a backup." placeholder="hh:mm" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]">
        </div>
    </div>
    <div class="control-group span3"
        data-bind="visible: settingsViewModel.settings.plugins.backupscheduler.weekly.enabled()">
        <label class="control-label">{{ _('Retain') }}</label>
        <div class="controls">
            <input type="number" class="input-block-level" min="1"
                data-bind="value: settingsViewModel.settings.plugins.backupscheduler.weekly.retention"
                title="How many weekly backups to keep.">
        </div>
    </div>
    <div class="control-group span11"
        data-bind="visible: settingsViewModel.settings.plugins.backupscheduler.weekly.enabled()">
        <div class="controls">
            <label class="checkbox inline">
                <input type="checkbox"
                    data-bind="checked: settingsViewModel.settings.plugins.backupscheduler.weekly.exclude_uploads"> {{
                _('Exclude uploads') }}
            </label>
            <label class="checkbox inline">
                <input type="checkbox"
                    data-bind="checked: settingsViewModel.settings.plugins.backupscheduler.weekly.exclude_timelapse"> {{
                _('Exclude timelapses') }}
            </label>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox"
                    data-bind="checked: settingsViewModel.settings.plugins.backupscheduler.monthly.enabled"> {{
                _('Monthly
                Backup') }}
            </label>
        </div>
    </div>
    <div class="control-group span3"
        data-bind="visible: settingsViewModel.settings.plugins.backupscheduler.monthly.enabled()">
        <label class="control-label">{{ _('Day of Month') }}</label>
        <div class="controls">
            <input type="number" class="input-block-level" min="1" max="31"
                data-bind="value: settingsViewModel.settings.plugins.backupscheduler.monthly.day" title="{{ _('Day of
                month to create a backup.') }}">
        </div>
    </div>
    <div class="control-group span3"
        data-bind="visible: settingsViewModel.settings.plugins.backupscheduler.monthly.enabled(), css: {error: !settingsViewModel.settings.plugins.backupscheduler.monthly.time().match(/([01]?[0-9]|2[0-3]):[0-5][0-9]/)}">
        <label class="control-label">{{ _('Time of Day') }}</label>
        <div class="controls">
            <input type="time" class="input-block-level"
                data-bind="textInput: settingsViewModel.settings.plugins.backupscheduler.monthly.time"
                title="{{ _('Time of day to create a backup.') }}" placeholder="hh:mm"
                pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]">
        </div>
    </div>
    <div class="control-group span3"
        data-bind="visible: settingsViewModel.settings.plugins.backupscheduler.monthly.enabled()">
        <label class="control-label">{{ _('Retain') }}</label>
        <div class="controls">
            <input type="number" class="input-block-level" min="1"
                data-bind="value: settingsViewModel.settings.plugins.backupscheduler.monthly.retention"
                title="{{ _('How many monthly backups to keep.') }}">
        </div>
    </div>
    <div class="control-group span11"
        data-bind="visible: settingsViewModel.settings.plugins.backupscheduler.monthly.enabled()">
        <div class="controls">
            <label class="checkbox inline">
                <input type="checkbox"
                    data-bind="checked: settingsViewModel.settings.plugins.backupscheduler.monthly.exclude_uploads"> {{
                _('Exclude uploads.') }}
            </label>
            <label class="checkbox inline">
                <input type="checkbox"
                    data-bind="checked: settingsViewModel.settings.plugins.backupscheduler.monthly.exclude_timelapse">
                {{ _('Exclude timelapses.') }}
            </label>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox"
                    data-bind="checked: settingsViewModel.settings.plugins.backupscheduler.startup.enabled"> {{
                ('Startup
                Backup') }}
            </label>
        </div>
    </div>
    <div class="control-group span3"
        data-bind="visible: settingsViewModel.settings.plugins.backupscheduler.startup.enabled()">
        <label class="control-label">{{ _('Retain') }}</label>
        <div class="controls">
            <input type="number" class="input-block-level" min="1"
                data-bind="value: settingsViewModel.settings.plugins.backupscheduler.startup.retention"
                title="{{ ('How many startup backups to keep.') }}">
        </div>
    </div>
    <div class="control-group span11"
        data-bind="visible: settingsViewModel.settings.plugins.backupscheduler.startup.enabled()">
        <div class="controls">
            <label class="checkbox inline">
                <input type="checkbox"
                    data-bind="checked: settingsViewModel.settings.plugins.backupscheduler.startup.exclude_uploads"> {{
                _('Exclude uploads.') }}
            </label>
            <label class="checkbox inline">
                <input type="checkbox"
                    data-bind="checked: settingsViewModel.settings.plugins.backupscheduler.startup.exclude_timelapse">
                {{ _('Exclude timelapses.') }}
            </label>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="row-fluid"><strong>{{ _('Notifications and Mount Check') }}</strong></div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox"
                    data-bind="checked: settingsViewModel.settings.plugins.backupscheduler.notification.enabled">
                {{ _('Display error notifications in OctoPrint GUI.') }}
            </label>
            <div class="alert alert-info">
                <i class="fas fa-info-circle"></i> {{ _('The last error notification is retained until a backup succeeds or by pressing the "Clear Error" button on the notification.') }}
            </div>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox"
                    data-bind="checked: settingsViewModel.settings.plugins.backupscheduler.check_mount">
                {{ _('Error if backup folder is not mounted.') }}
            </label>
            <div class="alert alert-info">
                <i class="fas fa-info-circle"></i> {{ _('If the backup folder is mounted to a network share to reduce SD card writes, you can enable this feature to validate the mount. If the mount does not exist an error will be reported.') }}
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox"
                    data-bind="checked: settingsViewModel.settings.plugins.backupscheduler.send_email.enabled">
                {{ _('Send an Email via SMTP if backup fails.') }}
            </label>
        </div>
    </div>
    <div class="control-group span11"
        data-bind="visible: settingsViewModel.settings.plugins.backupscheduler.send_email.enabled()">
        <div class="alert alert-info">
            <i class="fas fa-info-circle"></i>
            {{ _('Please save settings before testing! The password is stored encrypted and not included in backups.
            As a result, on restoring a backup you will need to reenter these settings.') }}
        </div>
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox"
                    data-bind="checked: settingsViewModel.settings.plugins.backupscheduler.send_email.send_successful">{{
                _('Send also on successful Backup') }}
            </label>
        </div>
        <div class="controls">
            <label class="control-label">{{ _('SMTP Server') }}</label>
            <input type="text" class="input-block-level"
                data-bind="value: settingsViewModel.settings.plugins.backupscheduler.send_email.smtp_server">
            <label class="control-label">{{ _('SMTP Port') }}</label>
            <input type="number" class="input-block-level"
                data-bind="value: settingsViewModel.settings.plugins.backupscheduler.send_email.smtp_port">
            <label class="checkbox">
                <input type="checkbox"
                    data-bind="checked: settingsViewModel.settings.plugins.backupscheduler.send_email.smtp_tls">{{ _('TLS')
                }}
            </label>
            <label class="control-label">{{ _('Username') }}</label>
            <input type="text" class="input-block-level"
                data-bind="value: settingsViewModel.settings.plugins.backupscheduler.send_email.smtp_user">
            <label class="control-label">{{ _('Password') }}</label>
            <input type="password" class="input-block-level"
                data-bind="value: settingsViewModel.settings.plugins.backupscheduler.send_email.smtp_password">
            <label class="control-label">{{ _('Sender Address') }}</label>
            <input type="text" class="input-block-level"
                data-bind="value: settingsViewModel.settings.plugins.backupscheduler.send_email.sender">
            <label class="control-label">{{ _('Recipient Address') }}</label>
            <input type="text" class="input-block-level"
                data-bind="value: settingsViewModel.settings.plugins.backupscheduler.send_email.recipient">
        </div>
        <div class="control">
            <button class="btn" data-bind="click: sendTestEmail, enable: !sendTestEmailRunning()"><i
                    class="fa fa-spinner fa-spin" data-bind="visible: sendTestEmailRunning" style="display: none;"></i> {{
                _('Send Test Email') }}</button>
        </div>
    </div>
</div>
